* {
    padding: 0px;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #;
    --text-color: #;
    --second-bg-color: #;

}

body {
    background-color: whitesmoke;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
}

.port-name {
    padding: 10px;
    padding-left: 40px;
    margin-top: 5px;
    letter-spacing: .3rem;
    font-size: 15px;
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 40px;
    padding: 10px;
    position: relative;
    right: 20px;
}

.port-nav a {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    position: relative;
    transition: .3s ease;
}

.port-nav a::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: 0px;
    left: 50%;
    background-color: orange;
    transition: width .3s ease-in-out, left .3s ease-in-out;
}

.port-nav a:hover::after {
    background-color: orange;
    left: 0%;
    width: 100%;
}

.navmob {
    display: none;
}

section {
    height: 100vh;
}

.port-intro {
    position: relative;
    top: 30px;
}

.port-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5rem;
    margin-left: 40px;
    margin-right: 40px;
}

.port-myname {
    font-size: 15px;
    font-weight: 500;
}

.port-myimg img {
    width: 250px;
    height: 250px;
    border: 1px;
    border-radius: 30%;
    transition: 1s ease;
}

.port-myimg img:hover {
    transform: translateY(-10%);
}

.port-myname #web {
    font-size: 60px;
    letter-spacing: .5rem;
    font-weight: 800;
    padding: 10px;
    padding-left: 0px;
    color: orange;
}

.port-myname #note {
    line-height: 2rem;
}

.port-myname input {
    padding: 10px;
    padding-right: 40px;
    position: relative;
    top: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px 2px orange;
    width: 150px;
    height: 40px;
    background-image: url(images/bx-cloud-download.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: right 10px center;
    background-color: white;
    transition: .3s linear;
}

.port-myname input:hover {
    background-color: orange;
    box-shadow: none;
    color: white;
}

.port-media {
    display: flex;
    gap: 25px;
    justify-content: center;

}

.social {
    width: 30px;
    height: 30px;
    position: relative;
    transition: .3s ease-in-out;
}

.port-media img:hover {
    content: '';
    border-radius: 100%;
    background-color: orange;
    transform: translateY(-20%);
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background: linear-gradient(rgba(187, 187, 187, 0.5), whitesmoke);
    border: none;
    border-radius: 15px;

}

.about-me .about-content {
    width: 60%;
    text-overflow: ellipsis;
    line-height: 2rem;
}

.about-me img {
    padding: 10px;
    border: none;
    border-radius: 20px;
    height: 400px;

}

.about-content #me {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;

}

.about-images img {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    margin: 20px;
    margin-left: 0px;
    box-shadow: 0 0 15px 5px gray;
    transition: .5s ease;
}

.about-images img:hover {
    background-color: gray;
    box-shadow: none;
    transform: translateY(-20%);
}

.about-img {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.about-img a {
    text-decoration: none;
    text-align: center;
    color: black;
}

.about-img p {
    width: 120px;
    height: 20px;
    padding: 5px;
    padding-bottom: 15px;
    margin: 20px;
    margin-left: 0px;
    border: none;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 10px 3px orange;
    transition: .5s ease;
}

.about-img p:hover {
    background-color: orange;
    box-shadow: none;
    color: white;
}

.skill {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 40px;
    width: 1000px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.skill .sub {
    text-align: center;
    font-size: 18px;
    letter-spacing: .2rem;
    font-weight: 500;
    border: 20px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background: linear-gradient(rgba(187, 187, 187, 0.5), whitesmoke);
    position: relative;
    transition: .3s ease-in-out;
}

.skill .sub:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px gray;
    color: orange;
}

.port-skills #skill {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    position: relative;
    top: 20px;
    bottom: 10px;
    font-weight: 700px;
}

.skill .sub img {
    width: 75px;
    height: 75px;
    margin: 10px;
    margin-bottom: 0px;
    position: relative;
    top: 20px;
}

.sub p {
    position: relative;
    top: 25px;
    color: black;
}

.port-projects {
    background: linear-gradient(whitesmoke, rgba(187, 187, 187, 0.5));
}

.port-project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.port-slider {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 950px;
    height: 500px;
    padding: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.port-slider::-webkit-scrollbar {
    display: none;
}

.port-project .project {
    min-width: 250px;
    min-height: 400px;
    padding: 20px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 1;
}

.port-project .project:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px gray;
    z-index: 10;
}

#port-heading {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    margin: 10px;
}

.project img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.project p {
    font-size: 15px;
    position: relative;
    top: 10px;

}

.project .title {
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    padding-left: 0px;
}

.port-projects button {
    position: absolute;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}

.port-projects .prev {
    left: 70px;
    background-image: url(images/bx-chevrons-left.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    background-color: transparent;
    opacity: 0.3;

}

.port-projects .prev:hover {
    opacity: 1;
}

.port-projects .next {
    right: 60px;
    background-image: url(images/bx-chevrons-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    opacity: 0.3;
    background-color: transparent;
}

.port-projects .next:hover {
    opacity: 1;
}

.contact-page {
    display: flex;
    justify-content: row;
    justify-content: right;
    align-items: center;
    position: relative;
    right: 40px;
}

.contact-details {
    width: 600px;
    height: 500px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    background: linear-gradient(whitesmoke, rgba(187, 187, 187, 0.5));
}

.contact-details input {
    width: 250px;
    height: 40px;
    padding: 5px;
    padding-left: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.contact-details textarea {
    width: 540px;
    min-height: 100px;
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    overflow: hidden;
    background-color: white;
}

.names {
    display: flex;
    gap: 30px;
}

.identity {
    display: flex;
    gap: 30px;
}

.sumbit button {
    width: 150px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 17px;
    transition: .3s ease-in;
    font-weight: 600;
    box-shadow: 0 0 20px 2px gray;
}

.sumbit button:hover {
    background-color: gray;
    color: white;
    box-shadow: none;

}

.contact-details p {
    font-size: 25px;
    color: rgb(109, 107, 107);
    font-weight: 700;
    letter-spacing: .3rem;
    margin-bottom: 10px;
}

.names::placeholder,
.identity::placeholder,
.dis::placeholder {
    color: rgb(109, 107, 107);
    font-size: 18px;
}

.port-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25%;
}

.contact-animation {
    display: grid;
    place-items: center;
}

.contact-animation img {
    width: 4 00px;
    height: 400px;
    position: relative;
    left: 30%;
}

@media (max-width: 600px) {
    body{
        font-size: 16px;
    }
    .port-intro{
        height: 800px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 400px;
    }
    .port-myimg img{
        width: 150px;
        height: 150px;
    }
    .port-name{
        letter-spacing: 0rem;
        padding-left: 20px;

    }
    .port-about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        margin-left: 40px;
        margin-right: 40px;
    }

    .port-myimg img {
        margin-top: 50px;
    }

    .port-myname #web {
        font-size: 40px;
    }

    .port-nav {
        display: none;
        flex-direction: column;
    }
    nav{
        position: relative;
        z-index: 10;
    }

    .port-nav a {
        text-align: center;
        border: none;
        border-radius: 10px;
    }

    .port-nav a:hover::after {
        width: 0%;
    }

    .port-nav a:hover {
        background-color: orange;
        color: white;
    }

    .navmob {
        display: block;
        transition: .3s ease;
        position: relative;
        top: 10px;
    }

    /* about */
    .about-me {
        max-height: 800px;
        min-width: 400px;
        background: linear-gradient(rgba(187, 187, 187, 0.5), whitesmoke);
        border: none;
        border-radius: 15px;
        gap: 0px;
        margin-top:20px;
    }


    .about-img img {
        display: none;

    }

    .about-me .about-content {
        width: 80%;
        text-overflow: ellipsis;
        line-height: 2.5rem;
        padding: 0px;
    }

    /* projects*/

   .port-projects{
    position: relative;
    top: 10px;
    display: grid;
    row-gap: 0px;
    
   }
   #port-heading {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    margin: 10px;
    padding-top: 20%;
}
.port-project .project {
    min-width: 250px;
    min-height: 400px;
    padding: 20px;
    border: none;
    margin-right: 0px;
    border-radius: 5px;
    background-color: white;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 1;
}
.port-projects .prev{
    left: -20px;
}
.port-projects .next{
    right: -10px;
}
.port-projects button{
    top: 55%;
}

   .port-slider {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 500px;
    padding: 0px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
    /*skill*/
    .port-skills {
        min-height: 800px;
    }

    .skill {
        grid-template-columns: repeat(2, 1fr);
        width: 400px;
    }
    .skill .sub{
        width: 150px;
        height: 150px;
        font-size: 16px;
    }
    .skill .sub img{
        width:50px;
        height: 50px;
    }
    /* contact*/
    .port-contact {
        display: block;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 25%;
    }
    .contact-animation{
        display: none;
    }
    .names, .identity{
        flex-direction: column;
    }
    .dis textarea{
        width: 250px;
        height:250px;
    }
    .contact-details{
        width: 400px;   
        height: 800px;
    }
    .contact-page{
        justify-content: center;
        right: 0px;
    }
}